h1 {
    color: rgb(255, 59, 50);
}
h2{
    color: plum;
}
h3{
    color: rgb(58, 240, 58);
}
p{
    color: chartreuse;
}

* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear:both;
}