{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - TradeWars</title>
        <!-- Link to the CSS stylesheet and favicon -->
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/aleinIcon.ico' type='image/x-icon'>
        <!-- Also link to some fonts hosted by Google -->
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
        <body background="https://wallpaperaccess.com/full/399198.jpg">
    </head>
    <body>
        <header>
            <h1><a href='/'>TradeWars</a></h1>
        </header>
        <nav>
            <a href='/'>Home</a>
        </nav>
        <main>
            {{template "main" .}}
        </main>
        {{template "footer" .}}
        <!-- And include the JavaScript file -->
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
    <style>
        h1,h2,h3   {color: rgb(37, 187, 23);}
        p    {color: rgb(238, 255, 0);}
        p1   {color: rgb(238, 255, 0);}
        #cargo {
            background-color: white;
            color: purple;
            border: 15px solid green;
        }
        input {color: rgb(37, 187, 23);}
          .row {
                display: flex;
                border: 0px;
            }

            .column {
                flex: 33.33%;
                padding: 5px;
                border: 0px;
            }
    </style>
    
</html>
{{end}}