{{template "base" .}}

{{define "title"}}Trade Screen{{end}}
{{define "main"}}
<head>
    <style>
      div{
        position: relative;
        margin: 20px;
        border: 15px solid green;
        } 
    </style>
</head>



<body>
    <div class="row">
        <div class="column"><h1>Trade Screen</h1></div>
        <div class="column"><p>status message</p></div>
    </div>

    <div class="row">
            <div class="column">
                <h2>Space Station stuff</h2>
                <p>chicken : $4 <button type="button">Buy</button></p>
                <p>pizza : $13 <button type="button">Buy</button></p>
                <p>hotdog : $2 <button type="button">Buy</button></p>
            </div>
            <div class="column">
                <h2>Your stuff</h2>
                <p id="cargo"></p>
            </div>
    </div>

    <form action="/map" method="GET">
        <input type="submit" value="back to map" />
    </form>


    <script>
        function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
        document.getElementById("cargo").innerHTML = getCookie("cargo").replace(/['"]+/g, '') ; 
    
    </script>

</body>


{{end}}