{{template "base" .}}

{{define "title"}}Trade Screen{{end}}
{{define "main"}}


<body background="https://wallpaperaccess.com/full/399198.jpg">
    <div class="row">
        <div class="column"><h1>Trade Screen</h1></div>
        <div class="column"><p>status message</p></div>
    </div>

    <h3>Your space cash = $88</h3>

    <div class="row">
            <div class="column">
                <h2>Space Station stuff</h2>
                <p>chicken : $4 <button type="button">Buy</button></p>
                <p>pizza : $13 <button type="button">Buy</button></p>
                <p>hotdog : $2 <button type="button">Buy</button></p>
            </div>
            <div class="column">
                <h2>Your stuff</h2>
                <p>chicken : $4 <button type="button">sell</button></p>
                <p>pizza : $13 <button type="button">sell</button></p>
                <p>hotdog : $2 <button type="button">sell</button></p>
            </div>
    </div>

    <form action="/map" method="GET">
        <input type="submit" value="back to map" />
    </form>

</body>


{{end}}