{{template "base" .}}

{{define "title"}}Trade Screen{{end}}
{{define "main"}}
<head>
    <style>
      #shop{
          /* background-color: bisque; */
      }
    </style>
</head>



<body>
    <div class="row">
        <div class="column"><h1>Trade Screen</h1></div>
        <div class="column"><p>status message</p></div>
    </div>

    <div class="row">
            <div class="column" id = "shop">
                <div class="row">
                    <h1>$0 Foo</h1>
                    <form action="/addCargo" method="POST">
                        <input type="submit" value="Buy" />
                    </form>
                </div>
            </div>
            <div class="column">
                <h2>Your stuff</h2>
                <p id="cargo"></p>
            </div>
    </div>

    <form action="/map" method="GET">
        <input type="submit" value="back to map" />
    </form>


    <script>
        function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
        document.getElementById("cargo").innerHTML = getCookie("cargo").replace(/['"]+/g, '') ; 
    
    </script>

</body>


{{end}}