{{template "base" .}}

{{define "title"}}Welcome Screen{{end}}
{{define "main"}}
<!-- <body background="http://getwallpapers.com/wallpaper/full/7/f/e/1254668-large-desktop-space-backgrounds-1920x1200.jpg">
 -->
    <center>
        <h1>Welcome to <br><b> TRADE WARS</b></h1>
        <p>
            <label>Enter your name:</label>
            <form action="snippet?" method="POST">
            <input type = "text"
                    id = "getName" />
                    <button type="button">Enter</button>
            </form>
        </p>
    </center>
</body>

{{end}}