{{template "base" .}}

{{define "title"}}Welcome Screen{{end}}
{{define "main"}}
<!-- <body background="http://getwallpapers.com/wallpaper/full/7/f/e/1254668-large-desktop-space-backgrounds-1920x1200.jpg">
 -->
    <center>
        <h1>Welcome to <br><b> TRADE WARS</b></h1>
        <p>
            <label>Enter your call sign</label>
            <div>
            <form action="/players" method="POST">
            <label>callSign:</label><input name="callSign" type="text" value="" />
            <input type="submit" value="submit" />
            </form>
            </div>
        </p>
    </center>
</body>

{{end}}